.mui-badge{
	background-color: #ff3b30;
	color: #FFFFFF;
}

.mui-bar-tab{
	padding-top:0;
	height: 50px;
}

.mui-bar-tab .mui-tab-item.mui-active{
	color: #1aad19;
}
.mui-bar-tab .mui-tab-item{
	color: #7a7e83;
}

.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{
	line-height: 15px;
	padding-top: 3px;
	font-size: 10px;
}

.mui-bar-tab .mui-tab-item{
	vertical-align:bottom;
}
