.mui-bar-nav~.mui-content .mui-pull-top-pocket {
	top: 65px;
}

.mui-pull-caption {
	display: none;
}

.mui-pull-bottom-pocket {
	height: 0;
}

.mui-icon-pulldown {
	font-size: 0px;
}

.mui-content{
	background-color: #ebebeb;
}

.mui-bar-nav~.mui-content {
	padding-bottom: 40px;
}
