.mui-bar-nav~.mui-content .mui-pull-top-pocket{
	top: 65px;
}

.mui-pull-caption{
	display: none;
}

.mui-pull-bottom-pocket{
	height: 0;
}
.mui-icon-pulldown{
	font-size: 0px;
}

.user-input{
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-color: red;
	z-index: 99;
}

.mui-bar-nav~.mui-content{
	padding-bottom: 40px;
}
