.link-agree{
	padding: 0 10px;
	background-color: #ffa96b;
	text-align: center;
	font-size: 13px;
	color: #FFFFFF;
}
.mui-card-footer .mui-card-link, .mui-card-header .mui-card-link{
	height: 24px;
	line-height: 24px;
}

 .mui-card-header{
	padding: 12px 15px;
	padding-bottom: 0px;	
}

.list-title{
	width: 100%;
	color: #666;
}

.datetime{
	float: right;
}

p{
	margin-bottom: 5px;
}

.icon-dianzan{
	color: #434343;
}

.dianzan-active{
	color: #e927ed;
}
